@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.reg{
    width: 500px;
	height:400px;
	

    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: 20px;
	font-family: 'Press Start 2P', cursive;
	

    margin: 50px auto;
    background-color:rgba(66, 89, 170, 1); 
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.364);
}
body {
    background-color: rgba(40, 44, 54, 1);
   }